{% extends "base.html" %}

{% block content %}

<form method="post" class="custom-form">
    <label for="name">Enter Name</label>
    <input type="text" id="name" name="name" placeholder="enter your name"><br>

    <label for="email">Enter email</label>
    <input type="email" id="email" name="email" placeholder="enter your email"><br>

    <label for="project">Enter project</label>
    <input type="text" id="project" name="project" placeholder="enter your project"><br>

    <label for="score">Enter score</label>
    <input type="text" id="score" name="score" placeholder="enter your email"><br>

    <input type="submit" value = "submit"/><br/>

</form>
<br>

{% endblock %}
